/altium_files/*/History
/altium_files/*/__Previews
/altium_files/*/Project*/
/altium_files/*/*.PrjPcbStructure
/altium_files/*/*/History
/altium_files/*/*/__Previews
/altium_files/*/*/Project*/
/altium_files/component_libraries/*.IntLib
/altium_files/eitp15_lab1_lib/*.IntLib
/altium_files/jc_lib/*.IntLib